<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Blog Posts</title>
    <link rel="stylesheet" href="{% static 'personal_app/style.css' %}">
</head>
<body>
    <header>
        Blog Posts
    </header>
    <div class="container mt-5">
        <h1 class="text-center">Blog Posts</h1>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-6">
                    <div class="blog-post">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.content|slice:":100" }}...</p>
                        <a href="{% url 'blog_post_detail' post.id %}" class="btn btn-custom">Read more</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        &copy; 2025 My Personal Blog
    </footer>
</body>
</html>